/* 页脚与头图透明 */
#footer {
  background: transparent !important;
}
#page-header {
  background: transparent !important;
}

/* 白天模式遮罩透明 */
#footer::before {
  background: transparent !important;
}
#page-header::before {
  background: transparent !important;
}

/* 夜间模式遮罩透明 */
[data-theme="dark"] #footer::before {
  background: transparent !important;
}
[data-theme="dark"] #page-header::before {
  background: transparent !important;
}

.toc-link {
    display: block; /* 设置为块级元素，以便可以应用宽度、高度和边距 */
    padding: 10px; /* 设置内边距，可根据需要调整 */
    border-radius: 5px; /* 设置圆角半径，根据需要调整 */
  }
