@font-face {
    font-family: "iconfont"; /* Project id 4414997 */
    src: url('https://at.alicdn.com/t/c/font_4414997_pz1nbd7zeqe.woff2?t=1705501584967') format('woff2'),
         url('https://at.alicdn.com/t/c/font_4414997_pz1nbd7zeqe.woff?t=1705501584967') format('woff'),
         url('https://at.alicdn.com/t/c/font_4414997_pz1nbd7zeqe.ttf?t=1705501584967') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 25px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-weixin:before {
    content: "\e6b8";
    color: rgb(48, 241, 93);
  }
  
  .icon-xinfeng1-copy:before {
    content: "\e600";
    color: rgb(255, 172, 7);
  }
  
  .icon-QQ:before {
    content: "\e876";
    color: rgb(62, 215, 250);
  }
  
  .icon-github:before {
    content: "\e66f";
    color: rgb(50, 50, 50);
  }

